<h2>Привет, {{name}}</h2>
<h4>Информация по новым задачам:</h4>
<ol>
  {{#tasks tasks}}
    <li>
      <p><b>{{title}}</b></p>
      <p>Стоимость: {{price}}</p>
    </li>
  {{/tasks}}
</ol>

